:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green-bright: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--light-navy);
    color: var(--white);
}

i {
    font-size: 22px;
}

/**************************** Resume Page ***************************/

/********** NAV BAR ***********/

nav {
    /* position: fixed; */
    width: 100%;
    height: 10%;
}

.return-main {
    display: flex;
    align-items: flex-start;
}

.return {
    display: flex;
    border: none;
    background-color: var(--light-navy);
    color: var(--white);
}

.return:hover {
    opacity: 20%;
}

.return-title {
    margin-left: 15px;
}

/******************************/





/******** MAIN ****************/

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title {
    width: 100%;
    height: 20%;
    align-items: center;
}

.resume-box {
    display: flex;
    width: 75%;
    height: 80%;
    justify-content: center;
    margin: 0 auto;
}

.resume-box iframe {
    width: 100%;
    height: 100%;
    background-color: var(--lightest-slate);
}