* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.white-personal {
    color: #ccd6f6;
}

.grey-personal {
    color: #8892b0;
}

.name {
    color: #4AF626;
}

.heading-container {
    padding-bottom: 18em;
    overflow: auto;
}

.heading-container p {
    margin-right: 50%;
}

.head-move {
    padding-left: 15em;
}

.typing-container {
    display: inline-block;
}

.typing {
    font-size: 3.5em;
    border-right: 5px solid;
    border-color: #4AF626;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing-animation 2s steps(15),
        cursor 2s linear infinite alternate;
}

@keyframes cursor  {
    50% { border-color: transparent }
}

@keyframes typing-animation {
    from { width: 0; }
}

.nav-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 8em;
}

.sidebar-links {
    list-style-type: none;
    text-align: right;
    padding-right: 3.5em;
}


.social-links {
    padding-top: 2em;
    padding-left: 3.5em;
}

.about-me {
    padding-top: 2em;
}